/* list css */

.postListWrapper {
    /*border-left: solid 1px #dddddd;*/
    width: 809px;
    /*padding-left: 5px;*/
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    overflow: hidden;
    min-height: 475px;

}
.listTopSearch {
    height: 30px;
    padding-top: 10px;
}

.listTopSearch .listSearchCount {
    float: left;
    width: 470px;
    margin-top: 2px;
}

.listTopSearch .listSearchLabel {
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}

.listTopSearch .listSearchSelect {
    float: left;
    margin-left: 5px;
    margin-top: 1px;
}

.listTopSearch .listSearchSelect select {
    width: 80px;
    height: 21px;
    border: solid 1px #cccccc;
}

.listTopSearch .listSearchInput {
    float: left;
    margin-left: 3px;
}

.listTopSearch .listSearchInput input {
    width: 110px;
    height: 18px;
    border: solid 1px #cccccc;
}

.listTopSearch .listSearchSubmit {
    float: left;
    margin-left: 5px;
    /*margin-top: 1px;*/
}

.listTopSearch .listSearchSubmit input {
    width: 51px;
    height: 23px;
    background: #555555;
    border-radius: 3px;
    color: #fff;
}

.listTopTitle {
    height: 20px;
    padding: 7px;
    border-top: solid 2px #aaaaaa;
    background-color: #eeeeee;
    margin-bottom: 3px;
}

.listTopTitle li {
    display: inline;
}

.listContent {
    height: 80px;
}

.listItem {
    height: 18px;
    margin-top: 2px;
    padding: 6px;
    border-bottom: solid 1px #eeeeee;
}

.listItem .listNumber, .listTitleNumber {
    float: left;
    width: 40px;
    text-align: center;
}

.listItem .listSubject, .listTitleSubject {
    float: left;
    width: 560px;
}

.listTitleSubject {
    text-align: center;
}

.listItem .listName, .listTitleName {
    float: left;
    width: 65px;
    text-align: center;
}

.listItem .listDay, .listTitleDay {
    float: left;
    width: 80px;
    text-align: center;
}

.listItem .listViewCount, .listTitleViewCount {
    float: left;
    width: 40px;
    text-align: center;
}

.listPagination {
    float: left;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.listPageNumber {
    width: 85%;
    float: left;
    margin-top: 7px;

}

.listPagination .postWriteBtn {
    float: right;
    text-align: center;
    width: 71px;
    height: 26px;
    background: #555555;
    border-radius: 3px;
    margin-right: 10px;
}

.listPagination .postWriteBtn a {
    font-size: 1.1rem;
    color: #fff;
}
.activePageList{
    font-weight: bold;
}
